body {
  text-align: center;
}

/* pie chart */
.chart {
 width: 500px;
 height: 500px;
}

h2 {
  margin: 2% auto;
  text-align: center;
}

#macroPie {
  height: 360px;
  margin: 0 auto;
  position: relative;
  width: 360px;
}

.legend {
  font-size: 10px;
}

rect {
  cursor: pointer;
  stroke-width: 2;
}

rect.disabled {
  fill: transparent !important;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
/*end pie chart*/


/*bar graph*/
#chart rect{
  fill: #4aaeea;
}
 
#chart text{
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}
 
.axis text{
  font: 10px sans-serif;
}
 
.axis path, .axis line{
  fill: none;
  stroke : #333;
  shape-rendering: crispEdges;
}
 
body{
  color : #333333;
  padding-top : 50px;
} 
/*end bar graph*/
