<h2>Search for any food item:</h2>

<form name="form" ng-submit="vm.submit()">
  <input type="text" ng-model="vm.form.query" ng-model-options="{ debounce: 500 }" ng-change="vm.getSuggestions()">
  <input type="submit">
</form>

<!-- TO DO: Make directive for search bar -->
<div ng-repeat="suggest in vm.search.suggestions">
  <p ng-click="vm.submit(suggest.ndbno)">{{ suggest.name }}</p>
</div>

<!-- To DO: Make Results a separate view -->
<div ng-if="vm.results">
  <h2>Results for {{ vm.results | lowercase }}: </h2>
  <fd-pie dataset="vm.macros" pie-type="vm.macroPie"></fd-pie>
</div>