<!DOCTYPE html>
<html lang="en" ng-app="nutritionApp">
<head>
  <meta charset="UTF-8">
  <title>Nutrition Vis</title>
  <link rel="stylesheet" href="client/stylesheets/style.css">
  <base href="/">
</head>
<body>

  <h1>Layout</h1>
  <div ng-view></div>
  
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="client/javascripts/app.js"></script>
  <script src="client/javascripts/services.js"></script>
  <script src="client/javascripts/controllers.js"></script>
  <script src="client/javascripts/directives.js"></script>
</body>
</html>